id = "cangjie"
name = "Cangjie"
description = "Cangjie support."  # 保留原始简洁描述
version = "0.1.0"
schema_version = 1
authors = [
    "Smite Rust <https://github.com/SmiteWindows>",
]
repository = "https://github.com/SmiteWindows/cangjielsp"

[language_servers.cangjie-language-server]
name = "cangjie-language-server"
language = "Cangjie"

[language_servers.cangjie-language-server.language_ids]
"Cangjie" = "cangjie"

[grammars.cangjie]
repository = "https://gitcode.com/Cangjie-SIG/tree-sitter-cangjie"
rev = "main"

# [debug_adapters.Cangjie]
# schema_path = "debug_adapter_schemas/Cangjie.json"
